@tailwind base;
@tailwind components;
@tailwind utilities;

.notes {
    background-attachment: local;
    background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, #969494 30px, #333232 31px, white 31px);
    line-height: 31px;
    padding: 1px 10px ;
  }